body {
    margin: 20px;
    align-content: center;
    font-family: Arial;
    background-color: ivory;
}


table {
    overflow-x:auto;
    margin-left: auto;
    margin-right: auto;
}

/* Optional: Add some basic styling */
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th, td {
    padding: 8px;
    text-align: center;
}

th {
    background-color: darkgreen;
    color: white;
  }

tr:nth-child(even) {
    background-color: antiquewhite;
}

tr:hover {
    background-color: aliceblue;
}



/* Apply to the header cell of the first column */
table th:first-child {
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Apply to the body cell of the first column if necessary */
table td:first-child {
    white-space: nowrap; /* Prevent text from wrapping */
}

/* Style the button to match inputs */
button {
    padding: 0.5em;
    border: 2px solid black;
    border-radius: 4px;
    background-color: gold;
    cursor: pointer;
    font-size: 1em;
    line-height: 1.2;
    width: auto; /* Adjust as needed, or use 100% for full width */
    margin-top: 10px;
}


/* Solar model style adjustments for the grid layout */
.form-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* This sets a minimum width but allows expansion */
    gap: 20px;
}

/* Style adjustments for form inputs and selects */
.form-group {
    display: flex;
    flex-direction: column;
    width: auto; /* This ensures that the .form-group takes up the full width of the grid column */
}

.form-group input,
.form-group select {
    width: auto; /* This ensures inputs and selects take up the full width of their .form-group container */
    padding: 0.5em;
    margin-bottom: 10px; /* Space below the elements */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    background-color: aliceblue;
}

h1 {
    border: 2px solid black;
    font-size: medium;
    padding: 5px;
    background-color: gold;
    cursor: pointer;
  }
