<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Custom CSS -->
    <link href="/static/styles.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Solar PV Model - {% block title %}{% endblock %}</title>

    {% block head %}{% endblock %}
</head>
<body>
    <h1> <a href="/">Home</a> - <a href="/solarmodel">Run Solar Model 🌞</a> - <a href="/login">Log in</a></h1><br>
    {% block body %}{% endblock %}
</body>
</html>

