{% extends "layout.html" %}

{% block title %}
    Model Results
{% endblock %}

{% block head %}
<link rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    {% if name %}
        You are logged in as {{ name }}. <a href="/logout">Log out</a>
    {% else %}
        You are not logged in. <a href="/login">Log in</a>
    {% endif %}
    <br><br><br>
    <h1>Solar Model Results 🌞</h1>
    <br>

    <div>
        <button class="toggle_table_summary">Show/Hide Summary</button>
        <button class="toggle_table_quarterly">Show/Hide Quarterly</button>
        <button class="toggle_table_monthly">Show/Hide Monthly</button>
        <button class="toggle_table_hourly">Show/Hide Hourly</button>
        <button class="toggle_table_weekly">Show/Hide Weekly</button>
        <button class="toggle_table_daily">Show/Hide Daily</button>
        <button class="toggle_chart" style="margin-left: 30px;">Show/Hide Chart</button>
    </div>
    <br>

    <!-- Displaying of HTML -->
    <div class="chart">
        {{ chart|safe }}
    </div>

    <!-- Added a table with an id to display the data summary -->
    <h1 class="toggle_table_summary">Annual summary of Results   &#x2193;</h1>
    {% if data_summary %}
    <table id="data_table_annual">
        <tr>
            {% for key in data_summary.keys() %}
            <th>{{ key }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for value in data_summary.values() %}
            <td>{{ value }}</td>
            {% endfor %}
        </tr>
    </table>
    {% endif %}
    <br>

    <br>
    <h1 class="toggle_table_quarterly">Quarterly Table of Results   &#x2193;</h1>
    <div id="data_table_quarterly" class="data_table">{{ data_quarterly|safe }}</div>
    <br>

    <br>
    <h1 class="toggle_table_monthly">Monthly Table of Results   &#x2193;</h1>
    <div id="data_table_monthly" class="data_table">{{ data_monthly|safe }}</div>
    <br>

    <br>
    <h1 class="toggle_table_hourly">Hourly Table of Results   &#x2193;</h1>
    <div id="data_table_hourly" class="data_table">{{ data_hourly|safe }}</div>
    <br>

    <br>
    <h1 class="toggle_table_weekly">Weekly Table of Results   &#x2193;</h1>
    <div id="data_table_weekly" class="data_table">{{ data_weekly|safe }}</div>
    <br>

    <br>
    <h1 class="toggle_table_daily">Daily Table of Results   &#x2193;</h1>
    <div id="data_table_daily" class="data_table">{{ data_daily|safe }}</div>
    <br>

    <script>
        $(document).ready(function(){
        $(".toggle_chart").click(function(){
            $(".chart").slideToggle(500);
        });
        $(".toggle_table_hourly").click(function(){
            $("#data_table_hourly").slideToggle(500);
        });
        $(".toggle_table_weekly").click(function(){
            $("#data_table_weekly").slideToggle(500);
        });
        $(".toggle_table_monthly").click(function(){
            $("#data_table_monthly").slideToggle(500);
        });
        $(".toggle_table_quarterly").click(function(){
            $("#data_table_quarterly").slideToggle(500);
        });
        $(".toggle_table_daily").click(function(){
            $("#data_table_daily").slideToggle(500);
        });
        $(".toggle_table_summary").click(function(){
            $("#data_table_annual").slideToggle(500);
        });
        });
    </script>


{% endblock %}
